/library/
/googledd7a111476a03cfb.html
/wp/wp-admin/
/wp/wp-includes/
/wp/error_log
/wp/index.php
/wp/license.txt
/wp/readme.html
/wp/wp-activate.php
/wp/wp-blog-header.php
/wp/wp-comments-post.php
/wp/wp-config.php
/wp/wp-config-sample.php
/wp/wp-cron.php
/wp/wp-links-opml.php
/wp/wp-load.php
/wp/wp-login.php
/wp/wp-mail.php
/wp/wp-settings.php
/wp/wp-signup.php
/wp/wp-trackback.php
/wp/xmlrpc.php
/photo/photodb/dbfiles/
/photo/photodb/images/
# you can't commit empty folders in git. You need to put at least an empty file in it.
!/photo/photodb/dbfiles/.gitkeep
!/photo/photodb/images/.gitkeep
/wp/wp-content/index.php
/wp/.htpasswd
/wp/wp-content/themes/twentynineteen/
/wp/wp-content/themes/twentytwenty/
/wp/wp-content/themes/twentytwentyone/
/cgi/ExifToolLib/
/wp/wp-content/languages/
/wp/wp-content/plugins/
