/library/
/googledd7a111476a03cfb.html
/wp/wp-admin/
/wp/wp-includes/
/wp/error_log
/wp/index.php
/wp/license.txt
/wp/readme.html
/wp/wp-activate.php
/wp/wp-blog-header.php
/wp/wp-comments-post.php
/wp/wp-config.php
/wp/wp-config-sample.php
/wp/wp-cron.php
/wp/wp-links-opml.php
/wp/wp-load.php
/wp/wp-login.php
/wp/wp-mail.php
/wp/wp-settings.php
/wp/wp-signup.php
/wp/wp-trackback.php
/wp/xmlrpc.php
/wp/wp-content/index.php
/wp/.htpasswd
/wp/wp-content/themes/twentynineteen/
/wp/wp-content/themes/twentytwenty/
/wp/wp-content/themes/twentytwentyone/
/wp/wp-content/languages/
/wp/wp-content/plugins/
/photo/photodb/dbfiles/
/photo/photodb/images/
# you can't commit empty folders in git. You need to put at least an empty file in it.
!/photo/photodb/dbfiles/.gitkeep
!/photo/photodb/images/.gitkeep
/cgi/ExifToolLib/
/baikal/
/wp/wp-content/themes/twentytwentyfour/assets/css/button-outline.css
/wp/wp-content/themes/twentytwentyfour/assets/css/button-outline.min.css
/wp/wp-content/themes/twentytwentyfour/assets/fonts/cardo/cardo_italic_400.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/cardo/cardo_normal_400.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/cardo/cardo_normal_700.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/cardo/LICENSE.txt
/wp/wp-content/themes/twentytwentyfour/assets/fonts/instrument-sans/InstrumentSans-Italic-VariableFont_wdth,wght.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/instrument-sans/InstrumentSans-VariableFont_wdth,wght.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/instrument-sans/OFL.txt
/wp/wp-content/themes/twentytwentyfour/assets/fonts/inter/Inter-VariableFont_slnt,wght.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/inter/LICENSE.txt
/wp/wp-content/themes/twentytwentyfour/assets/fonts/jost/Jost-Italic-VariableFont_wght.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/jost/Jost-VariableFont_wght.woff2
/wp/wp-content/themes/twentytwentyfour/assets/fonts/jost/OFL.txt
/wp/wp-content/themes/twentytwentyfour/assets/images/abstract-geometric-art.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/angular-roof.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/art-gallery.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/building-exterior.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/green-staircase.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/hotel-facade.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/icon-message.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/museum.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/tourist-and-building.webp
/wp/wp-content/themes/twentytwentyfour/assets/images/windows.webp
/wp/wp-content/themes/twentytwentyfour/parts/footer.html
/wp/wp-content/themes/twentytwentyfour/parts/header.html
/wp/wp-content/themes/twentytwentyfour/parts/post-meta.html
/wp/wp-content/themes/twentytwentyfour/parts/sidebar.html
/wp/wp-content/themes/twentytwentyfour/patterns/banner-hero.php
/wp/wp-content/themes/twentytwentyfour/patterns/banner-project-description.php
/wp/wp-content/themes/twentytwentyfour/patterns/cta-content-image-on-right.php
/wp/wp-content/themes/twentytwentyfour/patterns/cta-pricing.php
/wp/wp-content/themes/twentytwentyfour/patterns/cta-rsvp.php
/wp/wp-content/themes/twentytwentyfour/patterns/cta-services-image-left.php
/wp/wp-content/themes/twentytwentyfour/patterns/cta-subscribe-centered.php
/wp/wp-content/themes/twentytwentyfour/patterns/footer.php
/wp/wp-content/themes/twentytwentyfour/patterns/footer-centered-logo-nav.php
/wp/wp-content/themes/twentytwentyfour/patterns/footer-colophon-3-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/gallery-full-screen-image.php
/wp/wp-content/themes/twentytwentyfour/patterns/gallery-offset-images-grid-2-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/gallery-offset-images-grid-3-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/gallery-offset-images-grid-4-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/gallery-project-layout.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-404.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-comments.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-no-results.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-portfolio-hero.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-post-meta.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-post-navigation.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-search.php
/wp/wp-content/themes/twentytwentyfour/patterns/hidden-sidebar.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-about-business.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-home-blogging.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-home-business.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-home-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-home-portfolio-gallery.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-newsletter-landing.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-portfolio-overview.php
/wp/wp-content/themes/twentytwentyfour/patterns/page-rsvp-landing.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-1-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-3-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-grid-2-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-images-only-3-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-images-only-offset-4-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/posts-list.php
/wp/wp-content/themes/twentytwentyfour/patterns/team-4-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-archive-blogging.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-archive-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-home-blogging.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-home-business.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-home-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-index-blogging.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-index-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-search-blogging.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-search-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/template-single-portfolio.php
/wp/wp-content/themes/twentytwentyfour/patterns/testimonial-centered.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-alternating-images.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-centered-statement.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-centered-statement-small.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-faq.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-feature-grid-3-col.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-project-details.php
/wp/wp-content/themes/twentytwentyfour/patterns/text-title-left-image-right.php
/wp/wp-content/themes/twentytwentyfour/styles/ember.json
/wp/wp-content/themes/twentytwentyfour/styles/fossil.json
/wp/wp-content/themes/twentytwentyfour/styles/ice.json
/wp/wp-content/themes/twentytwentyfour/styles/maelstrom.json
/wp/wp-content/themes/twentytwentyfour/styles/mint.json
/wp/wp-content/themes/twentytwentyfour/styles/onyx.json
/wp/wp-content/themes/twentytwentyfour/styles/rust.json
/wp/wp-content/themes/twentytwentyfour/templates/404.html
/wp/wp-content/themes/twentytwentyfour/templates/archive.html
/wp/wp-content/themes/twentytwentyfour/templates/home.html
/wp/wp-content/themes/twentytwentyfour/templates/index.html
/wp/wp-content/themes/twentytwentyfour/templates/page.html
/wp/wp-content/themes/twentytwentyfour/templates/page-no-title.html
/wp/wp-content/themes/twentytwentyfour/templates/page-wide.html
/wp/wp-content/themes/twentytwentyfour/templates/page-with-sidebar.html
/wp/wp-content/themes/twentytwentyfour/templates/search.html
/wp/wp-content/themes/twentytwentyfour/templates/single.html
/wp/wp-content/themes/twentytwentyfour/templates/single-with-sidebar.html
/wp/wp-content/themes/twentytwentyfour/functions.php
/wp/wp-content/themes/twentytwentyfour/readme.txt
/wp/wp-content/themes/twentytwentyfour/screenshot.png
/wp/wp-content/themes/twentytwentyfour/style.css
/wp/wp-content/themes/twentytwentyfour/style.min.css
/wp/wp-content/themes/twentytwentyfour/theme.json
/wp/wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Bold-Italic.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/dm-sans/DMSans-Regular-Italic.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/dm-sans/LICENSE.txt
/wp/wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Italic.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/ibm-plex-mono/OFL.txt
/wp/wp-content/themes/twentytwentythree/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf
/wp/wp-content/themes/twentytwentythree/assets/fonts/inter/LICENSE.txt
/wp/wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/LICENSE.md
/wp/wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
/wp/wp-content/themes/twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
/wp/wp-content/themes/twentytwentythree/parts/comments.html
/wp/wp-content/themes/twentytwentythree/parts/footer.html
/wp/wp-content/themes/twentytwentythree/parts/header.html
/wp/wp-content/themes/twentytwentythree/parts/post-meta.html
/wp/wp-content/themes/twentytwentythree/patterns/call-to-action.php
/wp/wp-content/themes/twentytwentythree/patterns/footer-default.php
/wp/wp-content/themes/twentytwentythree/patterns/hidden-404.php
/wp/wp-content/themes/twentytwentythree/patterns/hidden-comments.php
/wp/wp-content/themes/twentytwentythree/patterns/hidden-no-results.php
/wp/wp-content/themes/twentytwentythree/patterns/post-meta.php
/wp/wp-content/themes/twentytwentythree/styles/aubergine.json
/wp/wp-content/themes/twentytwentythree/styles/block-out.json
/wp/wp-content/themes/twentytwentythree/styles/canary.json
/wp/wp-content/themes/twentytwentythree/styles/electric.json
/wp/wp-content/themes/twentytwentythree/styles/grapes.json
/wp/wp-content/themes/twentytwentythree/styles/marigold.json
/wp/wp-content/themes/twentytwentythree/styles/pilgrimage.json
/wp/wp-content/themes/twentytwentythree/styles/pitch.json
/wp/wp-content/themes/twentytwentythree/styles/sherbet.json
/wp/wp-content/themes/twentytwentythree/styles/whisper.json
/wp/wp-content/themes/twentytwentythree/templates/404.html
/wp/wp-content/themes/twentytwentythree/templates/archive.html
/wp/wp-content/themes/twentytwentythree/templates/blank.html
/wp/wp-content/themes/twentytwentythree/templates/blog-alternative.html
/wp/wp-content/themes/twentytwentythree/templates/home.html
/wp/wp-content/themes/twentytwentythree/templates/index.html
/wp/wp-content/themes/twentytwentythree/templates/page.html
/wp/wp-content/themes/twentytwentythree/templates/search.html
/wp/wp-content/themes/twentytwentythree/templates/single.html
/wp/wp-content/themes/twentytwentythree/readme.txt
/wp/wp-content/themes/twentytwentythree/screenshot.png
/wp/wp-content/themes/twentytwentythree/style.css
/wp/wp-content/themes/twentytwentythree/style.min.css
/wp/wp-content/themes/twentytwentythree/theme.json
/wp/wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Bold.ttf
/wp/wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-BoldItalic.ttf
/wp/wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Italic.ttf
/wp/wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/DMSans-Regular.ttf
/wp/wp-content/themes/twentytwentytwo/assets/fonts/dm-sans/LICENSE.txt
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Bold.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-BoldItalic.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Text.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-TextItalic.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLight.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLightItalic.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-Light.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-LightItalic.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/ibm-plex/LICENSE.txt
/wp/wp-content/themes/twentytwentytwo/assets/fonts/inter/Inter.ttf
/wp/wp-content/themes/twentytwentytwo/assets/fonts/inter/LICENSE.txt
/wp/wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/LICENSE.md
/wp/wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.otf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.otf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2
/wp/wp-content/themes/twentytwentytwo/assets/images/bird-on-black.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/bird-on-gray.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/bird-on-green.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/bird-on-salmon.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/divider-black.png
/wp/wp-content/themes/twentytwentytwo/assets/images/divider-white.png
/wp/wp-content/themes/twentytwentytwo/assets/images/ducks.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-a.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-b.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-gray-c.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-salmon.jpg
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-a.png
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-b.png
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-c.png
/wp/wp-content/themes/twentytwentytwo/assets/images/flight-path-on-transparent-d.png
/wp/wp-content/themes/twentytwentytwo/assets/images/icon-binoculars.png
/wp/wp-content/themes/twentytwentytwo/assets/images/icon-bird.jpg
/wp/wp-content/themes/twentytwentytwo/assets/videos/birds.mp4
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-about-title-logo.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-blog.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-default.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-logo.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-navigation.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-navigation-copyright.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-query-images-title-citation.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-query-title-citation.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-social-copyright.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/footer-title-tagline-social.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-divider-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-divider-light.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-featured-posts.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-image-with-caption.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-large-list-names.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-layered-images-with-duotone.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-list-events.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-pricing-table.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-subscribe.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-two-images-text.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-video-header-details.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-video-trailer.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/general-wide-image-intro-buttons.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-centered-logo.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-centered-logo-black-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-centered-title-navigation-social.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-default.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-image-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-image-background-overlay.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-large-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-gray-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-offset-tagline.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-logo-navigation-social-black-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-small-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-stacked.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-green-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-salmon-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-text-only-with-tagline-black-background.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-title-and-button.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-title-navigation-social.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/header-with-tagline.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/hidden-404.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/hidden-bird.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/hidden-heading-and-bird.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-large-image-and-buttons.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-links.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-links-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-media-left.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-media-right.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-simple-dark.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-about-solid-color.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-layout-image-and-text.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-layout-image-text-and-video.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-layout-two-columns.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-blog-posts.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-blog-posts-right.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-grid-posts.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/page-sidebar-poster.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-default.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-grid.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-image-grid.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-irregular-grid.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-large-titles.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-simple-blog.php
/wp/wp-content/themes/twentytwentytwo/inc/patterns/query-text-grid.php
/wp/wp-content/themes/twentytwentytwo/inc/block-patterns.php
/wp/wp-content/themes/twentytwentytwo/parts/footer.html
/wp/wp-content/themes/twentytwentytwo/parts/header.html
/wp/wp-content/themes/twentytwentytwo/parts/header-large-dark.html
/wp/wp-content/themes/twentytwentytwo/parts/header-small-dark.html
/wp/wp-content/themes/twentytwentytwo/styles/blue.json
/wp/wp-content/themes/twentytwentytwo/styles/pink.json
/wp/wp-content/themes/twentytwentytwo/styles/swiss.json
/wp/wp-content/themes/twentytwentytwo/templates/404.html
/wp/wp-content/themes/twentytwentytwo/templates/archive.html
/wp/wp-content/themes/twentytwentytwo/templates/blank.html
/wp/wp-content/themes/twentytwentytwo/templates/home.html
/wp/wp-content/themes/twentytwentytwo/templates/index.html
/wp/wp-content/themes/twentytwentytwo/templates/page.html
/wp/wp-content/themes/twentytwentytwo/templates/page-large-header.html
/wp/wp-content/themes/twentytwentytwo/templates/page-no-separators.html
/wp/wp-content/themes/twentytwentytwo/templates/search.html
/wp/wp-content/themes/twentytwentytwo/templates/single.html
/wp/wp-content/themes/twentytwentytwo/templates/single-no-separators.html
/wp/wp-content/themes/twentytwentytwo/functions.php
/wp/wp-content/themes/twentytwentytwo/index.php
/wp/wp-content/themes/twentytwentytwo/readme.txt
/wp/wp-content/themes/twentytwentytwo/screenshot.png
/wp/wp-content/themes/twentytwentytwo/style.css
/wp/wp-content/themes/twentytwentytwo/style.min.css
/wp/wp-content/themes/twentytwentytwo/theme.json
