/library/
/googledd7a111476a03cfb.html

# 1. Ignore everything inside /wp/
/wp/*
# 2. Unignore the wp-content folder itself (so Git can look inside)
!/wp/wp-content/
# 3. Ignore everything inside wp-content
/wp/wp-content/*
# 4. Unignore the themes folder
!/wp/wp-content/themes/
# 5. Ignore all other themes
/wp/wp-content/themes/*
# 6. Finally, unignore your specific child theme!
!/wp/wp-content/themes/twentynineteen-child/

/photo/photodb/dbfiles/
/photo/photodb/images/
!/photo/photodb/dbfiles/.gitkeep
!/photo/photodb/images/.gitkeep
/cgi/ExifToolLib/
/baikal/