
RewriteEngine on
AddHandler application/x-httpd-php83 .php
RewriteCond %{HTTP_HOST} ^foto\.speich\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.foto\.speich\.net$
RewriteRule ^(.*)$ "https\:\/\/www\.speich\.net\/photo\/photodb\/photo\.php$1" [R=301,L]
RewriteCond %{HTTP_HOST} ^photo\.speich\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.photo\.speich\.net$
RewriteRule ^(.*)$ "https\:\/\/www\.speich\.net\/photo\/photodb\/photo\-en\.php$1" [R=301,L]

RewriteCond %{HTTP_HOST} ^linux\.speich\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.linux\.speich\.net$
RewriteRule ^(.*)$ "https\:\/\/www\.speich\.net\/articles\/en\/category\linux\/" [R=301,L]

Redirect 301 /computer/visualization.php https://www.speich.net/articles/visualization.php
Redirect 301 /computer/3d.php https://www.speich.net/projects/programming/3d.php
Redirect 301 /computer/moztesting/3d.htm https://www.speich.net/projects/programming/3d.htm
Redirect 301 /computer/moztesting.php https://www.speich.net/projects/programming/3d.htm
Redirect 301 /computer/artikel/integration-phpdocumentor-eclipse-en.php https://www.speich.net/articles/?p=8
Redirect 301 /birds/fotos.php https://www.speich.net/photo/photodb/photo.php?theme=1
Redirect 301 /about/cv.php https://www.speich.net/about/simon-speich.php
Redirect 301 /about/cv-en.php https://www.speich.net/about/simon-speich-en.php