RewriteEngine On

# ensure https, be carefull that the rewrite does not messup subdomains suchs as photo.speich.net
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [R=301,L]

# set hsts header
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains; preload" env=HTTPS

# required for cyon hosting
AddHandler application/x-httpd-php80 .php

DirectoryIndex index.php index.html index.htm

Redirect 301 /computer/visualization.php https://www.speich.net/articles/visualization.php
Redirect 301 /computer/3d.php https://www.speich.net/projects/programming/3d.php
Redirect 301 /computer/moztesting/3d.htm https://www.speich.net/projects/programming/3d.htm
Redirect 301 /computer/moztesting.php https://www.speich.net/projects/programming/3d.htm
Redirect 301 /computer/artikel/integration-phpdocumentor-eclipse-en.php https://www.speich.net/articles/?p=8
Redirect 301 /birds/fotos.php https://www.speich.net/photo/photodb/photo.php?theme=1

RewriteCond %{HTTP_HOST} ^(f|ph)oto.speich.net$ [NC]
RewriteRule ^(.*) https://www.speich.net/photo/photodb/photo.php [R=301,L]