@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	url('fonts/open-sans-v17-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 400;
	src: local('Open Sans Italic'), local('OpenSans-Italic'),
	url('fonts/open-sans-v17-latin-italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 600;
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
	url('fonts/open-sans-v17-latin-600.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 700;
	src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
	url('fonts/open-sans-v17-latin-700italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: italic;
	font-weight: 600;
	src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
	url('fonts/open-sans-v17-latin-600italic.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'),
	url('fonts/open-sans-v17-latin-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 800;
	src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
	url('fonts/open-sans-v17-latin-800.woff2') format('woff2');
}

body {
  font-size: 1em;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	line-height: 1.4;
}

ul {
	list-style: none;
	padding: unset;
}

h1, h2, h3 {
	color: #2e7300;
}

a {
	color: #cc0000;
}

a:visited {
	color: #743399;
}

a:active, a:hover {
	color: #ff4b33;
}

figure {
	margin: 0 0 2em 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

figure img {
	max-width: 100%;
}

figcaption {
	font-size: 80%;
	border-bottom: 1px solid #cccccc;
	min-width: 33%;
	text-align: center;
	padding: 0.8em;
}


body > header, .nav, main, body > footer {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

body > header {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

body > header a {
	text-decoration: none;
}

main {
	padding-bottom: 2em;
}

.speich-logo {
	display: flex;
}

.speich-logo svg {
	width: 3em;
	height: 3.5em;
}

.speich-logo svg use {
	fill: rgba(55, 136, 0, 1);
	fill-rule: nonzero;
	stroke: #9bc809;
	stroke-width: 2;
	stroke-linecap: butt;
	stroke-linejoin: miter;
	stroke-miterlimit: 4;
	stroke-dasharray: none;
}

.speich-logo .text {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	align-items: flex-end;
	color: white;
	justify-content: center;
}

.speich-logo .text div {
	font-weight: 800;
	transform: scaleY(0.8);
	text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
}

.speich-logo .text div:first-child {
	font-size: 2em;
	letter-spacing: -0.05em;
	line-height: 0.55;
	margin-top: 0.25em;
}

.speich-logo .text div:nth-child(2) {
	font-size: 0.75em;
	letter-spacing: 0.04em;
}

nav.main ul, nav.lang ul {
	margin: 0.5em 0;
}

nav.main li {
	margin: 0.5em 0;
}

nav.main li a, nav.lang li a {
	color: #ffffff;
	text-decoration: none;
	letter-spacing: 0.1em;
}

nav.main li a {
	display: block;
	padding: 0 0.5em;
}

nav.main li a:hover, nav.main .menuActive a {
	margin-bottom: -2px;
	border-bottom: 2px solid #ffdb0b;
}

nav.main .menuActive a, nav.lang .navActive, nav.lang a:hover {
	color: #ffdb0b;
}

body > footer * {
	font-size: 75%;
}

body > footer *:first-child {
	margin-bottom: 0.3em;
}

body > footer *:last-child {
	margin-top: 0.3em;
}

@media screen and (min-width: 550px) {

	nav.main li {
		margin: 0;
	}

	nav.main li:first-child a {
		padding-left: 0;
	}

	nav.main li:last-child a {
		padding-right: 0;
	}
}

@media screen and (min-width: 1024px) {



}