html, body { height: 100%; }

table { border-collapse: collapse; border-spacing: 0; }

body {
	background: url(images/layout-top-bg.jpg) top repeat-x;
	font: 12px Verdana, Arial, Myriad, Helvetica, Tahoma, clean, sans-serif;
	*font-size: 75%;
	font-weight: normal;
	line-height: 1.5;
}

#layoutTop01 {
	height: 88px;
	background: url(images/layout-top.jpg) no-repeat;
}

#layoutTop02 {
	background-color: #225300;
}

#layoutMiddle, #layoutFooterCont {
	min-width: 600px;
	max-width: 992px;
	*width: 992px;
}

#layoutMiddle {
	margin-top: 50px;
}

#layoutMain {
	margin-left: 210px;
	min-height: 380px;
}

h1 {
	font-size: 20px;
	margin: 0 0 12px 0;
	padding: 2px 0;
	color: #2E7300;
}

h2 {
	font-size: 14px;
	margin: 16px 0 4px 0;
	color: #2E7300;
}

h3 {
	font-size: 11px;
	font-weight: bold;
	margin: 1.66em 0 0.33em 0;
	color: #2E7300;
}

p, ul {
	margin: 0 0 1em 0;
}

ol {
	list-style: decimal outside;
	padding-left: 20px;
}

ol li {
	margin-bottom: 12px;
}

strong {
	font-weight: bold;
}

a {
	color: #cc0000;
}

a:visited {
	color: #743399;
}

a:active,
a:hover {
	color: #ff4b33;
}

img {
	image-rendering: optimizeQuality; /* Firefox 3.6+; default behavior is identical, no need to specify */
}

pre, code, blockquote {
	padding: 0.6em !important;
	background-color: #F4F5F7;
	margin-bottom: 1em;
}

em { font-style: italic; }

#layoutFooterCont {
	clear: both;
	padding-top: 30px;
}

#layoutFooter {
	border-top: 1px solid #48b100;
	height: 83px;
	padding: 5px 10px 0 12px;
	font-size: 0.8em;
	letter-spacing: 0.1em;
}

#layoutNav {
	float: left;
	width: 180px;
}

.imgFrame {
	border: 5px solid #f1f1f1;
	-moz-box-shadow: inset 2px 2px 3px rgba(150, 150, 150, 0.5), 2px 2px 3px rgba(150, 150, 150, 0.5);
	-webkit-box-shadow: inset 2px 2px 3px rgba(120, 120, 120, 0.5), 2px 2px 3px rgba(120, 120, 120, 0.5);
	box-shadow: inset 2px 2px 3px rgba(150, 150, 150, 0.5), 2px 2px 3px rgba(150, 150, 150, 0.5);
	background-position: 0 0;
	background-repeat: no-repeat;
	line-height: 0;
}

.imgFrame a { display: block; text-decoration: none; }

.imgFrame img { visibility: hidden; }

.photoContainer {
	float: right;
	width: 308px;
}

.photoContainer img {
	display: block;
	margin-bottom: 10px;
}

.button, .search input.gsc-search-button {
	border: 1px solid #cccccc;
	background: linear-gradient(#fafafa, #e6e6e6) repeat
}
.button {
	padding: 0;
	background-color: #DBDBDB;
	border-radius: 14px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	cursor: pointer;
}

.button a, .button a:active, .button a:visited {
	text-decoration: none;
	color: inherit;
	padding: 4px 12px;
	display: inline-block;
}

.button:hover {
	color: #578626;
	border-color: #578626;
}
.button img {
	margin: 0 0 0 4px;
	vertical-align: middle;
}

#menuMain {
	margin: 0 0 4px 210px;
	background: none;
	border: none;
	vertical-align: middle;
	display: inline-block;
}

#menuMain a, #menuMain div {
    padding: 2px 12px 0 12px;
}

#menuMain li {
	letter-spacing: 0.1em;
}

#menuMain a {
	color: #ffffff;
	text-decoration: none;
}

#menuMain li a:hover, #navLang a:hover  {
	margin-bottom: -2px;
	border-bottom: 2px solid #ffdb0b;
}

#menuMain .menuActive a, #navLang .navActive {
	color: #ffdb0b;
}

.sideMenu {
	margin-left: 10px;
}

.sideMenu ul {
	margin-left: 12px;
}

.sideMenu li {
	padding: 1px 0 1px 0;
}

.sideMenu a {
	display: block;
	text-decoration: none;
	color: #000000;
	padding: 6px 0 6px 0;
	font-size: 1em;
	border-bottom: 1px solid #cccccc;
}

.sideMenu a:hover {
	background: linear-gradient(#fafafa, #DFE8D9);
}

.sideMenu .menuActive > a {
	color: #cc0000;
}

.sideMenu li li li {
	font-size: 0.9em;
}

.nav a, .nav a:link {
	text-decoration: none;
	color: white;
}

#navLang {
	margin: 0 20px 0 200px;
	display: inline-block;
	vertical-align: middle;
}

#navLang li {
	float: left;
	margin-right: 12px;
}


ul.main li {
	background: url(images/bullet1.gif) no-repeat 0 0.5em;
	padding-left: 8px; /* the width of your image + some space */
	margin: 0 0 0.6em 0;
}

.small {
	font-size: 0.9em;
}