html, body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 600px;
	min-width: 320px;
}

body > header {
	order: -1;
	display: flex;	/* removes white space between elements */
	justify-content: flex-end;
	background-image: linear-gradient(180deg, #2e7300, #286100)
}

.row1 {
	border-top: 1px solid #49b102;
	border-bottom: 1px solid #717173;
	background-color: #145500;
}

.row2 {
	background-color: #225300;
	background-image: linear-gradient(180deg, #1a4500 0%, #225300 15%)
}

.row5 {
	border-top: 1px solid #49b102;
}

main {
	order: -1;
}

nav.lang > ul {
	display: flex;
	justify-content: space-evenly;
}

.layout-medium {
	display: none;
}

.layout-wide {
	display: none;
}

/*@media screen and (min-width: 550px) {
	body {
		grid-template-columns: 1fr 1fr minmax(300px, 1200px) min-content 1fr;
	}

	nav.sub {
		grid-area: 4 / 3 / 4 / 5;
	}

	nav.sub > ul {
		display: flex;
	}
}*/

@media screen and (min-width: 1024px) {

	body {
		display: grid;
		grid-template-rows: min-content min-content max-content min-content;
		grid-template-columns: 1fr minmax(180px, 220px) minmax(300px, 900px) 1fr;
	}

	body > header {
		grid-area: 1 / 1 / 1 / 3;
	}

	.nav-before {
		grid-area: 2 / 1 / 2 / 3;
	}

	.nav {
		grid-area: 2 / 3 / 2 / 4;
		display: flex;
		justify-content: space-between;
	}

	nav.main > ul {
		display: flex;
		flex-wrap: wrap;
	}

	.nav-after {
		grid-area: 2 / 5 / 2 / 6;
	}

	nav.sub {
		grid-area: 3 / 2 / 3 / 3;
	}

	main {
		grid-area: 3 / 3 / 3/ 5;
	}

	.footer-before {
		grid-area: 5 / 1 / 4 / 3;
	}

	footer {
		grid-area: 5 / 3 / 4 / 4;
		display: flex;
		justify-content: space-between;
	}

	.layout-wide {
		display: unset;
	}
}