#showPhotos svg.icon {
	fill: url(../../layout/images/symbols.svg#gradient-vertical) orange;
	stroke: #578626;
}

@media screen and (min-width: 35em) {
	body {
		grid-template-rows: min-content min-content 1fr min-content;
		grid-template-columns: 0 minmax(8em, 16em) minmax(20em, 60em) 1fr;
	}

	nav.sub:empty ~ main {
		grid-area: 3 / 3 / 3 / 5;
	}
}

#mapContainer {
	height: 100%;
}

#map-canvas {
	/* dimension overwritten by js */
	height: 100%;
	width: 100%;
}

img[id^=mtgt_unnamed] {
	border: 1px solid white !important;
}

.mRating, #showPhotos {
	margin-right: 0.5em;
}

#mRating li:hover > ul {
	top: 24px;
}

.gm-style {
	font: unset;
}