@media screen and (min-width: 60em) {
    .flexCont {
        display: flex;
        flex-direction: row;
        gap: 2em;
        flex: auto;
    }


    .flexCont > div {
        width: 50%;
    }

    .flexCont > div > ul:first-of-type {
        margin-top: 0;
    }
}

.col > h3 {
    margin-top: 0;
}

figure:not(.wp-block-gallery) {
    margin-bottom: 3em;
}

.sameSpecies {
    margin: -2px;
}

.sameSpecies img {
    width: calc(50% - 4px);
    height: auto;
    margin: 2px;
    vertical-align: top;
}

#exifInfo {
    padding: 1em 0;
    border-top: 0.1em solid #49b102;
    border-bottom: 0.1em solid #49b102;
}

#photo {
    border: 1px solid black;
    max-width: 100%;
}

#map, #mapNote {
    height: 18em;
}

#map {
    border: 1px solid black;
    margin-bottom: 10px;
}

#mapNote {
    margin: auto;
    width: 240px;
    padding-top: 30px;
    text-align: center;
}

.photoTxtLabel {
    color: #777777;
}

.mRating {
    display: flex;
}

.license img {
    margin-right: 0.5em;
}